In [2]:
import numpy as np
import pandas as pd

import pandas_profiling

In [3]:
!dir "../data/"

 Volume in drive C has no label.
 Volume Serial Number is 6244-D5A7

 Directory of C:\Users\Alexandre\Google Drive\Documents\Projectos\Kaggles\trucks_pm\data

13/01/2019  17:42    <DIR>          .
13/01/2019  17:42    <DIR>          ..
13/01/2019  01:10        37 857 465 aps-failure-at-scania-trucks-data-set.zip
19/02/2018  15:38             4 874 aps_failure_description.txt
19/02/2018  15:38        11 942 686 aps_failure_test_set.csv
19/02/2018  15:38        27 339 253 aps_failure_test_set_processed_8bit.csv
19/02/2018  15:38        44 668 322 aps_failure_training_set.csv
19/02/2018  15:38       102 493 151 aps_failure_training_set_processed_8bit.csv
               6 File(s)    224 305 751 bytes
               2 Dir(s)  18 544 508 928 bytes free

In [4]:
train = pd.read_csv("../data/aps_failure_training_set.csv")

# Data Prep
perform the following tasks:
- replace class strings with numbers 'neg':0, 'pos':1
- convert every column type to numeric

In [5]:
train_clean = train.replace('na',np.nan)
train_clean.loc[:,"class"] = train_clean.loc[:,"class"].replace({'neg':0, 'pos':1})

train_clean = train_clean.astype(np.number)

# Data exploration

In [6]:
train_clean.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,0.0,76698.0,NaN,2.130706e+09,280.0,0.0,0.0,0.0,0.0,0.0,...,1240520.0,493384.0,721044.0,469792.0,339156.0,157956.0,73224.0,0.0,0.0,0.0
1,0.0,33058.0,NaN,0.000000e+00,NaN,0.0,0.0,0.0,0.0,0.0,...,421400.0,178064.0,293306.0,245416.0,133654.0,81140.0,97576.0,1500.0,0.0,0.0
2,0.0,41040.0,NaN,2.280000e+02,100.0,0.0,0.0,0.0,0.0,0.0,...,277378.0,159812.0,423992.0,409564.0,320746.0,158022.0,95128.0,514.0,0.0,0.0
3,0.0,12.0,0.0,7.000000e+01,66.0,0.0,10.0,0.0,0.0,0.0,...,240.0,46.0,58.0,44.0,10.0,0.0,0.0,0.0,4.0,32.0
4,0.0,60874.0,NaN,1.368000e+03,458.0,0.0,0.0,0.0,0.0,0.0,...,622012.0,229790.0,405298.0,347188.0,286954.0,311560.0,433954.0,1218.0,0.0,0.0

In [7]:
train_clean.describe()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
count,60000.000000,6.000000e+04,13671.000000,5.666500e+04,4.513900e+04,57500.000000,57500.000000,5.932900e+04,5.932900e+04,5.932900e+04,...,5.932900e+04,5.932900e+04,5.932900e+04,5.932900e+04,5.932900e+04,5.932900e+04,5.932900e+04,5.932900e+04,57276.000000,57277.000000
mean,0.016667,5.933650e+04,0.713189,3.560143e+08,1.906206e+05,6.819130,11.006817,2.216364e+02,9.757223e+02,8.606015e+03,...,4.454897e+05,2.111264e+05,4.457343e+05,3.939462e+05,3.330582e+05,3.462714e+05,1.387300e+05,8.388915e+03,0.090579,0.212756
std,0.128020,1.454301e+05,3.478962,7.948749e+08,4.040441e+07,161.543373,209.792592,2.047846e+04,3.420053e+04,1.503220e+05,...,1.155540e+06,5.433188e+05,1.168314e+06,1.121044e+06,1.069160e+06,1.728056e+06,4.495100e+05,4.747043e+04,4.368855,8.830641
min,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,0.000000,8.340000e+02,0.000000,1.600000e+01,2.400000e+01,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,...,2.936000e+03,1.166000e+03,2.700000e+03,3.584000e+03,5.120000e+02,1.100000e+02,0.000000e+00,0.000000e+00,0.000000,0.000000
50%,0.000000,3.077600e+04,0.000000,1.520000e+02,1.260000e+02,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,...,2.337960e+05,1.120860e+05,2.215180e+05,1.899880e+05,9.243200e+04,4.109800e+04,3.812000e+03,0.000000e+00,0.000000,0.000000
75%,0.000000,4.866800e+04,0.000000,9.640000e+02,4.300000e+02,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,...,4.383960e+05,2.182320e+05,4.666140e+05,4.032220e+05,2.750940e+05,1.678140e+05,1.397240e+05,2.028000e+03,0.000000,0.000000
max,1.000000,2.746564e+06,204.000000,2.130707e+09,8.584298e+09,21050.000000,20070.000000,3.376892e+06,4.109372e+06,1.055286e+07,...,7.793393e+07,3.775839e+07,9.715238e+07,5.743524e+07,3.160781e+07,1.195801e+08,1.926740e+07,3.810078e+06,482.000000,1146.000000

## Run pandas-profiling

In [19]:
profile = pandas_profiling.ProfileReport(train_clean)
profile.to_file(outputfile="../reports/pandas_profiling.html")

### Conclusions
    1) a lot of highly correlated features
    2) a lot of highly skewed variables (all except bk_000, bl_000, bs_000, ca_000 and cb_000)
    3) range of values very large (maybe due to outliers)

### Next steps
- 1) could be solved with **PCA (or SVD)**
- some of the feats affected by 3) could be improved by **removing outliers**
- if it is not enough and all the other feats could be improved by **log-transforming** them which may also solve 2)